@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@700&display=swap');
main {
    margin-top: -20px;
}

#board-container {
    display: grid;
    margin-bottom: 16px;
    grid-template-columns: 400px 1fr;
}

.job-display-side-bar {
    overflow: auto;
    background-color: #F6F6F8;
    padding-left: 12px;
    padding-right: 8px;
    height: 600px;
}

.nav-icon-job {
    font-weight: bold;
    font-size: 11px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.nav-icon-job:hover {
    color: #AA2626;
    text-decoration: none;
}

.job-basic-info h4,
.job-basic-info h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.job-basic-info,
.job-sub-nav {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #777770;
    padding: 1em;
}

.job-sub-nav-down {
    padding: 1em;
}

.job-basic-info:hover {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
}


/*DESCRIPTION*/

.job-display-description {
    overflow: auto;
    padding: 2em;
    height: 600px;
    background-color: #F6F6F8;
}

.jod-decription-cleanArea {
    background-color: #ffffff;
    padding: 1.6em;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#jobTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.company-details {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.company-details .icon-info {
    font-size: 15px;
}

hr {
    height: 0.8px;
    background: #F6F6F8;
}

.job-top-display {
    display: flex;
    justify-content: space-between;
}