<h1>
    Job Board
</h1>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-outline-secondary">Logout</button>
</form>